.background {
  width: 100%;
  min-height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contentBackground {
  width: 80%;
  min-height: 80vh;
  margin: 0 auto;
  background-color: var(--dark-transparent-bg);
  border-radius: var(--border-radius);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.contentWrapper {
  width: 55%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.imageContainer {
  width: 60%;
  position: relative;
}

.steam {
  position: relative;
  top: 0;
  width: 30rem;
  height: 20rem;
}

.image {
  border-radius: var(--border-radius);
}

.title {
  font-size: calc(var(--title1-font-size) * 1.2);
  color: white;
  line-height: 0.8;
}

.title2 {
  color: var(--coffee-color);
  font-size: calc(var(--title2-font-size) * 1.2);
}

.title2red {
  transition: 1s ease-in-out;
  color: rgb(254, 238, 21);
}

.subtitle {
  margin: 4rem 0;
  font-size: 2.8rem;
  font-weight: 200;
  color: white;
}

.subtitleAnother {
  margin-bottom: 3rem;
  font-size: 3rem;
  color: rgb(216, 32, 216);
  transition: 1s ease-in-out;
}

.discoverStoresButton {
  font-size: 2.5rem;
  border: none;
  background-color: white;
  padding: 2rem 7rem;
  transition: 0.2s ease-in-out;
}

.discoverStoresButton:hover {
  color: white;
  background-color: var(--coffee-color);
}

@media (max-width: 525px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .subtitle {
    text-align: center;
    font-size: 2.3rem;
  }
}

@media (max-width: 640px) {
  .title {
    font-size: 5rem /* 48px */;
    line-height: 1;
  }

  .subtitle {
    margin-top: 2.5rem;
    max-width: 60rem;
  }

  .buttonWrapper {
    display: flex;
    margin-top: 3.6rem;
  }
}

/** md breakpoint **/
@media (max-width: 768px) {
  .title {
    font-size: 6rem /* 60px */;
    line-height: 1;
  }

  .subtitle {
    margin-top: 3rem;
  }

  .discoverStoresButton {
    padding-top: 1.6rem /* 16px */;
    padding-bottom: 1.6rem /* 16px */;
    font-size: 1.8rem /* 18px */;
    line-height: 2.8rem /* 28px */;
    padding-left: 4rem /* 40px */;
    padding-right: 4rem /* 40px */;
  }
}

/** lg breakpoint **/
@media (max-width: 1024px) {
  .title {
    font-size: 7.2rem /* 72px */;
    line-height: 1;
  }

  .title2 {
    padding-left: 0.8rem;
  }

  .subtitle {
    margin-left: 0px;
    margin-right: 0px;
  }
}

/** xl breakpoint **/
@media (max-width: 1280px) {
  .title2 {
    display: inline;
  }
}
