.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 4rem;
  grid-row-gap: 3rem;
  width: 90%;
  margin: 5rem auto;
  align-items: center;
  justify-content: space-evenly;
}
