.page {
  background-color: var(--light-bg);
  width: 80%;
  margin: 0 auto;
}

.contentWrapper {
  width: 90%;
  margin: auto;
}

.logoContainer {
  min-height: 15vh;
  display: flex;
  align-items: center;
}

.logoText {
  font-size: 3.5rem;
  color: var(--logo-main-color);
}

.logoText2 {
  font-size: 4rem;
  color: var(--coffee-color);
}

.mainSection {
  min-height: 85vh;
}

.sliderInfoWrapper {
  width: 100%;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.storeInfoContainer {
  display: flex;
  flex-direction: column;
  width: 35%;
  margin: 0 auto;
}

.icoTextList {
  width: 100%;
  height: 15vh;
  border: 0.2rem solid blue;
}

.icoText {
  font-size: 2rem;
  margin: 0 1rem;
}

.upVote,
.toStore {
  margin: 0 1rem;
}

.toStore {
  color: white;
  background-color: var(--dark-blue);
}

.toStore:hover {
  color: var(--dark-blue);
  background-color: white;
}

.icoTextContainer {
  display: flex;
  align-items: center;
}

@media (max-width: 950px) {
  .mainSection {
    flex-direction: column;
  }
  .storeInfoContainer {
    margin: 1rem 0;
  }
}

@media (max-width: 550px) {
  .title {
    font-size: 3rem;
  }
  .titleContainer {
    flex-direction: column;
    margin: 1rem auto;
  }
}

@media (max-width: 300px) {
  .title {
    font-size: 2rem;
  }
}
