.container {
  background-color: rgba(255, 255, 255, 0.2);
  padding: 2rem;
  border: none;
  border-radius: 2rem;
  transition: 0.2s ease-in-out;
  cursor: pointer;
  max-width: 38rem;
  min-width: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.container:hover {
  transform: scale(1.05);
  background-color: rgba(255, 255, 255, 0.4);
}

.title {
  margin-bottom: 1rem;
  font-size: 2rem;
  text-align: center;
  max-width: 25rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.image {
  border-radius: 1rem;
}
