.page {
  background-color: var(--light-bg);
  width: 80%;
  margin: 0 auto;
}

.contentWrapper {
  width: 90%;
  margin: auto;
}

.logoContainer {
  min-height: 15vh;
  display: flex;
  align-items: center;
}

.logoText {
  font-size: 3.5rem;
  margin-top: 2rem;
  color: var(--logo-main-color);
}

.logoText2 {
  font-size: 4rem;
  color: var(--coffee-color);
}

.mainSection {
  min-height: 85vh;
}

.title {
  font-size: 3.6rem;
  font-weight: 500;
}

.sliderInfoWrapper {
  width: 100%;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.storeInfoContainer {
  display: flex;
  flex-direction: column;
  width: 35%;
  height: 90%;
  margin: 0 auto;
  padding-left: 5rem;
  position: relative;
}

.pricingContainer {
  display: flex;
  margin: 1.2rem 0;
}

.priceIco {
  width: 1.2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  position: relative;
}

.ratingContainer {
  height: 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.rating {
  display: flex;
  font-size: 1.5rem;
  min-width: 10%;
}

.ratingIco {
  margin-left: 0.5rem;
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.likeLoading {
  position: absolute;
  max-height: 5%;
}

.descriptionContainer {
  font-size: 1.5rem;
  margin: 2rem 0;
}

.icoTextList {
  width: 100%;
  height: 15vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.icoText {
  font-size: 1.6rem;
  font-weight: 500;
  margin: 0 1rem;
}

.buttonContainer {
  position: absolute;
  bottom: 0;
  height: 9%;
  display: flex;
  align-items: center;
}

.linkButton {
  padding: 1.3rem 4rem;
  height: 100%;
  font-size: 1.5rem;
  color: black;
  background-color: var(--coffee-color);
}

.linkButton:hover {
  color: white;
}

.icoTextContainer {
  display: flex;
  align-items: center;
}

.reviewsHeader {
  font-size: 2rem;
  font-weight: 600;
}

.commentsMapWrapper {
  display: flex;
  padding: 3rem 0;
}

.upVote {
  height: 100%;
  margin-left: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.upVote:hover {
  background-color: var(--coffee-color);
}

.imageContainer {
  position: relative;
  width: 2.5rem;
  height: 2.5rem;
}

@media (max-width: 950px) {
  .mainSection {
    flex-direction: column;
  }
  .storeInfoContainer {
    margin: 1rem 0;
  }
}

@media (max-width: 550px) {
  .title {
    font-size: 3rem;
  }
  .titleContainer {
    flex-direction: column;
    margin: 1rem auto;
  }
}

@media (max-width: 300px) {
  .title {
    font-size: 2rem;
  }
}
