.section {
  width: 65%;
  height: 90vh;
  overflow: scroll;
  background-color: var(--transparent);
  border-radius: var(--default-border-radius);
  padding: 0.5rem 1.5rem;
}

.container {
  width: 100%;
  margin: 1rem auto;
  display: flex;
  background-color: var(--transparent-hover);
  border-radius: var(--default-border-radius);
  padding: 1rem;
  align-items: center;
}

.infoContainer {
  font-size: 1.8rem;
  width: 70%;
}

.imageContainer {
  width: 6rem;
  height: 6rem;
  margin-right: 2rem;
  position: relative;
}

.dateContainer {
  font-size: 1.5rem;
  margin-left: 2rem;
  text-align: right;
}
