:root {
  --cardList-gap: 2rem;
  --border-radius: 1.5rem;
  --title1-font-size: 7.5rem;
  --title2-font-size: 8.7rem;

  --gray: rgb(232, 232, 232);
  --transparentGray: rgba(220, 220, 220, 0.5);
  --logo-main-color: rgb(61, 61, 61);
  --dark-transparent-bg: rgba(38, 25, 16, 0.75);
  --card-transparent-info-bg: rgba(38, 25, 16, 0.7);
  --light-bg: rgb(242, 242, 242);
  --transparent: rgba(255, 255, 255, 0.3);
  --transparent-hover: rgba(255, 255, 255, 0.4);
  --default-border-radius: 2rem;

  --coffee-color: rgb(229, 165, 79);
}

html,
body {
  font-family: "Montserrat", sans-serif;
  font-size: 62.5%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

h3 {
  font-size: 1.8rem;
  font-weight: 600;
}

p {
  font-size: 1.6rem;
}

button {
  border: none;
  background-color: white;
  color: var(--dark-blue);
  padding: 1rem 1.5rem;
  transition: 0.1s ease-in-out;
  cursor: pointer;
  border-radius: var(--border-radius);
}

button:hover {
  color: white;
  background-color: var(--dark-blue);
}

/*________________________SWIPER JS LIBRARY RESTYLING____________*/

.swiper-button-next,
.swiper-button-prev {
  color: var(--transparentGray);
  transition: 0.2s ease-in-out;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  color: var(--gray);
  transform: scale(1.1);
}

.swiper-pagination-bullet {
  background-color: var(--gray);
}

.swiper-pagination-bullet:hover {
  transform: scale(1.4);
}

.swiper-pagination-bullet-active {
  background-color: var(--gray);
}

/*________________________RESPONSIVENESS_________________________*/

@media (max-width: 1920px) {
  :root {
    --border-radius: 1rem;
    --cardList-gap: 1.4rem;
  }
}
