:root {
  --border-radius: 1.5rem;
  --title1-font-size: 7.5rem;
  --title2-font-size: 8.7rem;

  --dark-transparent-bg: rgba(38, 25, 16, 0.85);
  --card-transparent-info-bg: rgba(38, 25, 16, 0.6);
  --light-bg: rgb(242, 242, 242);
  --transparent: rgba(255, 255, 255, 0.2);
  --transparent-hover: rgba(255, 255, 255, 0.4);
  --default-border-radius: 2rem;

  --coffee-color: rgb(229, 165, 79);
}

html,
body {
  font-family: "Montserrat", sans-serif;
  font-size: 62.5%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

button {
  border: none;
  background-color: white;
  color: var(--dark-blue);
  padding: 1rem 1.5rem;
  transition: 0.1s ease-in-out;
  cursor: pointer;
  border-radius: var(--border-radius);
}

button:hover {
  color: white;
  background-color: var(--dark-blue);
}
